body{
    background-image:url('https://media3.giphy.com/media/4N1FZFE5AGO3qrUGkw/giphy.gif?cid=ecf05e47ce2bc519f677c657321b5f7017999e79bc2d33a9&rid=giphy.gif');
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:white;
    background-position: center center;
    min-height: 100%;
    background-attachment: fixed;
    background-position-x:right;
    background-clip: padding-box;
    background-position-x:right;
    background-clip: padding-box;


}

@media only screen and (min-width: 600px) {
   h2{
       font-size:2.5rem;
   }
    .no-weather p{
        color:red;
        font-size:1.6rem;
        
    }
  }



  @media only screen and (min-width: 1000px) {
    h2{
        font-size:2.5rem;
    }
     .no-weather p{
         font-size:2rem;
         
     }

   }
 
